<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ConnectionString" value="Data Source=DESKTOP-IAF4UTV;Initial Catalog=DancingTraining;User ID=sa;Password=sa123" />
    <!--<add key="ConnectionString" value="Data Source=PC201906230910;Initial Catalog=DancingTraining;User ID=sa;Password=20190701cl" />-->
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
